swagger: "2.0"
host: "api.boodskap.io"
info: 
  version: "1.0.6"
  title: "Boodskap IoT Platform API"
  description: "Boodskap IoT Platform API (all API's)"
  termsOfService: "https://boodskap.io/terms-conditions"
  contact: 
    name: "Boodskap Team"
  license: 
    name: "MIT"
schemes: 
  - "https"
  - "http"
paths: 
  '/asset/upsert/{atoken}':
    post:
      tags:
        - Create / Update Asset
      summary: Create / Update Asset
      operationId: upsertAsset
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: entity
          in: body
          description: Asset JSON object
          required: true
          schema:
            $ref: '#/definitions/Asset'
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/get/{atoken}/{aid}':
    get:
      tags:
        - Retreive Asset
      summary: Retreive Asset
      operationId: getAsset
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: aid
          in: path
          description: Asset id
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Asset'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/delete/{atoken}/{aid}':
    delete:
      tags:
        - Delete Asset
      summary: Delete Asset
      operationId: deleteAsset
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: aid
          in: path
          description: Asset Id
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/deleteall/{atoken}':
    delete:
      tags:
        - Delete All Assets
      summary: Delete All Assets
      operationId: deleteAllAssets
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/list/{atoken}/{pageSize}':
    get:
      tags:
        - List Assets
      summary: List Assets
      operationId: listAssets
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: pageSize
          in: path
          description: Maximum number of assets to be listed
          required: true
          type: integer
          format: int32
        - name: direction
          in: query
          description: >-
            If direction is specified, **aid** is required
          required: false
          type: string
          enum:
            - NEXT
            - PREV
        - name: aid
          in: query
          description: >-
            Last or First asset id of the previous list operation, **required** if **direction** is specified
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Asset'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/link/{atoken}/{aid}/{did}':
    get:
      tags:
        - Link an Asset with a Device
      summary: Link an Asset with a Device
      operationId: linkAsset
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: aid
          in: path
          description: Asset Id
          required: true
          type: string
        - name: did
          in: path
          description: Device Id
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/unlink/{atoken}/{aid}/{did}':
    get:
      tags:
        - Unlink an Asset from a Device
      summary: Unlink an Asset from a Device
      operationId: unlinkAsset
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: aid
          in: path
          description: Asset Id
          required: true
          type: string
        - name: did
          in: path
          description: Device Id
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/listdevices/{atoken}/{aid}':
    get:
      tags:
        - List Asset Devices
      summary: List Asset Devices
      operationId: listAssetDevices
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: aid
          in: path
          description: Asset Id
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Device'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/property/upsert/{atoken}':
    post:
      tags:
        - Create / Update Asset Property
      summary: Create / Update Asset Property
      operationId: storeAssetProperty
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: entity
          in: body
          description: AssetProperty JSON object
          required: true
          schema:
            $ref: '#/definitions/AssetProperty'
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/property/get/{atoken}/{id}/{name}':
    get:
      tags:
        - Retreive Asset Property
      summary: Retreive Asset Property
      operationId: getAssetProperty
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: id
          in: path
          description: Asset ID
          required: true
          type: string
        - name: name
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/AssetProperty'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/property/delete/{atoken}/{id}/{name}':
    delete:
      tags:
        - Delete Stored Asset Property
      summary: Delete Stored Asset Property
      operationId: deleteAssetProperty
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: id
          in: path
          description: Asset ID
          required: true
          type: string
        - name: name
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/property/list/{atoken}/{id}/{pageSize}':
    get:
      tags:
        - List Asset Properties
      summary: List Asset Properties
      operationId: listAssetProperties
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: id
          in: path
          description: Asset ID
          required: true
          type: string
        - name: pageSize
          in: path
          description: Maximum number of properties to be listed
          required: true
          type: integer
          format: int32
        - name: direction
          in: query
          description: >-
            If direction is specified, **name** is required
          required: false
          type: string
          enum:
            - NEXT
            - PREV
        - name: name
          in: query
          description: >-
            Last or First property name of the previous list operation, **required** if **direction** is specified
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/AssetProperty'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/group/upsert/{atoken}':
    post:
      tags:
        - Create / Update Asset Group
      summary: Create / Update Asset Group
      operationId: upsertAssetGroup
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: entity
          in: body
          description: AssetGroup JSON object
          required: true
          schema:
            $ref: '#/definitions/AssetGroup'
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/group/get/{atoken}/{aid}/{gid}':
    get:
      tags:
        - Retreive Asset Group
      summary: Retreive Asset Group
      operationId: getAssetGroup
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: aid
          in: path
          description: Asset ID
          required: true
          type: string
        - name: gid
          in: path
          description: Group id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/AssetGroup'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/group/add/{atoken}/{oaid}/{gid}':
    post:
      tags:
        - Add Members(s) to Asset Group
      summary: Add Members(s) to Asset Group
      operationId: addMembersToAssetGroup
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: oaid
          in: path
          description: Owner Asset ID
          required: true
          type: string
        - name: gid
          in: path
          description: Group Id
          required: true
          type: integer
          format: int32
        - name: assetIds
          in: body
          description: Array of device IDs
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/group/remove/{atoken}/{oaid}/{gid}':
    post:
      tags:
        - Remove Members(s) from Asset Group
      summary: Remove Members(s) from Asset Group
      operationId: removeMembersFromAssetGroup
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: oaid
          in: path
          description: Owner Asset ID
          required: true
          type: string
        - name: gid
          in: path
          description: Group Id
          required: true
          type: integer
          format: int32
        - name: assetIds
          in: body
          description: Array of asset IDs
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/group/delete/{atoken}/{aid}/{gid}':
    delete:
      tags:
        - Delete Asset Group
      summary: Delete Asset Group
      operationId: deleteAssetGroup
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: aid
          in: path
          description: Asset ID
          required: true
          type: string
        - name: gid
          in: path
          description: Group Id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/group/deleteall/{atoken}/{aid}':
    delete:
      tags:
        - Delete All Asset Groups
      summary: Delete All Asset Groups
      operationId: deleteAllAssetGroups
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: aid
          in: path
          description: Asset ID
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/group/list/{atoken}/{aid}/{pageSize}':
    get:
      tags:
        - List Asset Groups
      summary: List Asset Groups
      operationId: listAssetGroups
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: aid
          in: path
          description: Asset ID
          required: true
          type: string
        - name: pageSize
          in: path
          description: Maximum number of groups to be listed
          required: true
          type: integer
          format: int32
        - name: direction
          in: query
          description: >-
            If direction is specified, **gid** is required
          required: false
          type: string
          enum:
            - NEXT
            - PREV
        - name: gid
          in: query
          description: >-
            Last or First group id of the previous list operation, **required** if **direction** is specified
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/AssetGroup'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/group/listmembers/{atoken}/{oaid}/{gid}/{pageSize}':
    get:
      tags:
        - List Asset Group Members
      summary: List Asset Group Members
      operationId: listAssetGroupMembers
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: oaid
          in: path
          description: Owner Asset ID
          required: true
          type: string
        - name: gid
          in: path
          description: Group id to list the devices from
          required: true
          type: integer
          format: int32
        - name: pageSize
          in: path
          description: Maximum number of devices to be listed
          required: true
          type: integer
          format: int32
        - name: direction
          in: query
          description: >-
            If direction is specified, **aid** is required
          required: false
          type: string
          enum:
            - NEXT
            - PREV
        - name: aid
          in: query
          description: >-
            Last or First asset id of the previous list operation, **required** if **direction** is specified
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Asset'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/group/property/upsert/{atoken}':
    post:
      tags:
        - Create / Update Asset Group Property
      summary: Create / Update Asset Group Property
      operationId: storeAssetGroupProperty
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: entity
          in: body
          description: AssetGroupProperty JSON object
          required: true
          schema:
            $ref: '#/definitions/AssetGroupProperty'
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/group/property/get/{atoken}/{id}/{gid}/{name}':
    get:
      tags:
        - Retreive Asset Group Property
      summary: Retreive Asset Group Property
      operationId: getAssetGroupProperty
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: id
          in: path
          description: Asset ID
          required: true
          type: string
        - name: gid
          in: path
          description: Asset Group ID
          required: true
          type: integer
          format: int32
        - name: name
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/AssetGroupProperty'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/group/property/delete/{atoken}/{id}/{gid}/{name}':
    delete:
      tags:
        - Delete Stored Asset Group Property
      summary: Delete Stored Asset Group Property
      operationId: deleteAssetGroupProperty
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: id
          in: path
          description: Asset ID
          required: true
          type: string
        - name: gid
          in: path
          description: Asset Group ID
          required: true
          type: integer
          format: int32
        - name: name
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/group/property/list/{atoken}/{id}/{gid}/{pageSize}':
    get:
      tags:
        - List Asset Group Properties
      summary: List Asset Group Properties
      operationId: listAssetGroupProperties
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: id
          in: path
          description: Asset ID
          required: true
          type: string
        - name: gid
          in: path
          description: Asset Group ID
          required: true
          type: integer
          format: int32
        - name: pageSize
          in: path
          description: Maximum number of properties to be listed
          required: true
          type: integer
          format: int32
        - name: direction
          in: query
          description: >-
            If direction is specified, **name** is required
          required: false
          type: string
          enum:
            - NEXT
            - PREV
        - name: name
          in: query
          description: >-
            Last or First property name of the previous list operation, **required** if **direction** is specified
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/AssetGroupProperty'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/count/{atoken}':
    post:
      tags:
        - Count All Assets
      summary: Count All Assets
      operationId: countAllAssets
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Count"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/asset/group/count/{atoken}/{assetId}':
    post:
      tags:
        - Count All Asset Groups
      summary: Count All Asset Groups
      operationId: countAllAssetGroups
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: assetId
          in: path
          description: Asset ID
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Count"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/call/execute/{atoken}':
    post:
      tags:
        - Execute groovy script
      summary: Execute groovy script
      operationId: executeGroovyScript
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: script
          in: body
          description: GroovyScript JSON
          required: true
          schema:
            $ref: "#/definitions/GroovyScript"
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/CallOutput"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/call/execute/template/{atoken}/{template}':
    post:
      tags:
        - Execute Template Script
      summary: Execute Template Script
      operationId: executeTemplateScript
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: template
          in: path
          description: Template name
          required: true
          type: string
        - name: script
          in: body
          description: TemplateScript JSON
          required: true
          schema:
            $ref: "#/definitions/TemplateScript"
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/CallOutput"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/call/execute/rule/{atoken}/{namedrule}':
    post:
      tags:
        - Execute Named Rule Script
      summary: Execute Named Rule Script
      operationId: executeNamedRuleScript
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: namedrule
          in: path
          description: Named rule name
          required: true
          type: string
        - name: script
          in: body
          description: RuleScript JSON
          required: true
          schema:
            $ref: "#/definitions/RuleScript"
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/CallOutput"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/cluster/statistics': 
    get: 
      tags:
        - Get Cluster Statistics
      summary: Get Cluster Statistics
      operationId: "getClusterStatistics"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: domainKey
          in: query
          description: Domain Key
          required: false
          type: string
      responses: 
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/Counter"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/cluster/nodes/list/{atoken}': 
    get: 
      tags:
        - List Cluster Nodes
      summary: List Cluster Nodes
      operationId: "listClusterNodes"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
      responses: 
        "200":
          description: "Success"
          schema:
            type: array
            items:
              $ref: '#/definitions/ClusterNode'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/cluster/shutdown/{atoken}': 
    get: 
      tags:
        - Shutdown Cluster
      summary: Shutdown Cluster
      operationId: "shutdownCluster"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
      responses: 
        "200":
          description: "Success"
          schema:
            type: array
            items:
              $ref: '#/definitions/Success'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/cluster/reindex/{atoken}/{type}': 
    get: 
      tags:
        - Re Index Cluster
      summary: Re Index Cluster
      operationId: "reindexCluster"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: type
          in: path
          required: true
          type: string
          enum:
            - 'DEVICES'
            - 'DOMAIN'
        - name: domainKey
          in: query
          required: false
          type: string
          description: 'Required if **type** is not **DEVICES**'
      responses: 
        "200":
          description: "Success"
          schema:
            type: array
            items:
              $ref: '#/definitions/Success'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/cluster/service/activate/{atoken}/{sname}/{active}': 
    get: 
      tags:
        - Activate Service
      summary: Activate / Deactivate Service
      operationId: "activateService"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: sname
          in: path
          required: true
          type: string
        - name: active
          in: path
          description: Boolean to activate or deactivate
          required: true
          type: boolean
        - name: domainKey
          in: query
          required: false
          type: string
          description: 'Required if the service is a domain specific service'
      responses: 
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/Counter"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/command/send/{atoken}/{commandId}':
    post:
      tags:
        - Send a Dynamic Command
      summary: Send a Dynamic command to one device
      operationId: sendDynamicCommand
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: commandId
          in: path
          description: Command Identifier
          required: true
          type: integer
          format: int32
        - name: command
          in: body
          description: Command JSON object
          required: true
          schema:
            $ref: '#/definitions/Command'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/CommandStatus'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/command/broadcast/{atoken}/{commandId}':
    post:
      tags:
        - Broadcast a Dynamic Command
      summary: Broadcast a Dynamic command to multiple devices
      operationId: broadcastDynamicCommand
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: commandId
          in: path
          description: Command Identifier
          required: true
          type: integer
          format: int32
        - name: command
          in: body
          description: BroadcastCommand JSON object
          required: true
          schema:
            $ref: '#/definitions/BroadcastCommand'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/CommandStatus'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/command/raw/send/{atoken}/{type}':
    post:
      tags:
        - Send a Raw Command
      summary: Send a raw command to a device
      operationId: sendRawCommand
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: type
          in: path
          description: data type
          required: true
          type: string
          enum:
            - TEXT
            - JSON
            - HEX
            - BASE64
        - name: command
          in: body
          description: Command JSON object
          required: true
          schema:
            $ref: '#/definitions/Command'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/CommandStatus'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/command/raw/broadcast/{atoken}/{type}':
    post:
      tags:
        - Broadcast Raw Command
      summary: Broadcast raw command to multiple devices
      operationId: broadcastRawCommand
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: type
          in: path
          description: data type
          required: true
          type: string
          enum:
            - TEXT
            - JSON
            - HEX
            - BASE64
        - name: command
          in: body
          description: BroadcastCommand JSON object
          required: true
          schema:
            $ref: '#/definitions/BroadcastCommand'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/CommandStatus'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/command/template/send/{atoken}/{deviceId}/{commandId}/{templateId}/{system}':
    post:
      tags:
        - Send a Static Command using Template
      summary: Send a Static Command to one device using Template
      operationId: sendStaticCommandUsingTemplate
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: deviceId
          in: path
          description: device id
          required: true
          type: string
        - name: commandId
          in: path
          description: static command id
          required: true
          type: integer
          format: int32
        - name: templateId
          in: path
          description: template id
          required: true
          type: string
        - name: system
          in: path
          description: 'true for system template'
          required: true
          type: boolean
        - name: mergeContent
          in: body
          description: Merge Content JSON object
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/CommandStatus'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/command/property/send/{atoken}/{deviceId}/{commandId}/{property}':
    post:
      tags:
        - Send a Command using Property
      summary: Send a Command using Property
      operationId: sendCommandUsingProperty
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: deviceId
          in: path
          description: device id
          required: true
          type: string
        - name: commandId
          in: path
          description: static command id
          required: true
          type: integer
          format: int32
        - name: property
          in: path
          description: property name
          required: true
          type: string
        - name: command
          in: body
          description: PropertyCommand JSON object
          required: true
          schema:
            $ref: '#/definitions/PropertyCommand'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/CommandStatus'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/command/status/{atoken}/{deviceId}/{corrId}':
    get:
      tags:
        - Get Command Status
      summary: Get Command Status
      operationId: getCommandStatus
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: deviceId
          in: path
          description: device id
          required: true
          type: string
        - name: corrId
          in: path
          description: Correlation ID
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/CommandStatus'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/cspec/upsert/{atoken}':
    post:
      tags:
        - Create / Update Command Definition
      summary: Create / Update Command Definition
      operationId: upsertCommandDefinition
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: entity
          in: body
          description: CommandDefinition JSON object
          required: true
          schema:
            $ref: '#/definitions/CommandDefinition'
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/cspec/get/{atoken}/{cid}':
    get:
      tags:
        - Retreive Command Definition
      summary: Retreive Command Definition
      operationId: getCommandDefinition
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: cid
          in: path
          description: Command id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/CommandDefinition'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/cspec/delete/{atoken}/{cid}':
    delete:
      tags:
        - Delete Command Definition
      summary: Delete Command Definition
      operationId: deleteCommandDefinition
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: cid
          in: path
          description: Command Id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/cspec/list/{atoken}/{pageSize}':
    get:
      tags:
        - List Command Definitions
      summary: List Command Definition
      operationId: listCommandDefinitions
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: pageSize
          in: path
          description: Maximum number of command definitions to be listed
          required: true
          type: integer
          format: int32
        - name: direction
          in: query
          description: >-
            If direction is specified, **cid** is required
          required: false
          type: string
          enum:
            - NEXT
            - PREV
        - name: cid
          in: query
          description: >-
            Last or First command id of the previous list operation, **required** if **direction** is specified
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/CommandDefinition'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/cspec/count/{atoken}':
    post:
      tags:
        - Count All Command Specifications
      summary: Count All Command Specifications
      operationId: countAllCommandSpecs
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Count"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/register/{atoken}/{did}/{model}/{version}':
    get:
      tags:
        - Register New Device
      summary: Register New Device
      operationId: registerDevice
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: did
          in: path
          description: Device ID
          required: true
          type: string
        - name: model
          in: path
          description: Device model id
          required: true
          type: string
        - name: version
          in: path
          description: Firmware version
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/upsert/{atoken}':
    post:
      tags:
        - Create / Update Device
      summary: Create / Update Device
      operationId: upsertDevice
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: dto
          in: body
          description: User JSON object
          required: true
          schema:
            $ref: '#/definitions/Device'
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/get/{atoken}/{did}':
    get:
      tags:
        - Retreive Device
      summary: Retreive Device
      operationId: getDevice
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: did
          in: path
          description: Device id
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Device'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/delete/{atoken}/{did}':
    delete:
      tags:
        - Delete Device
      summary: Delete Device
      operationId: deleteDevice
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: did
          in: path
          description: Device Id
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/list/{atoken}/{pageSize}':
    get:
      tags:
        - List Devices
      summary: List Devices
      operationId: listDevices
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: pageSize
          in: path
          description: Maximum number of devices to be listed
          required: true
          type: integer
          format: int32
        - name: direction
          in: query
          description: >-
            If direction is specified, **did** is required
          required: false
          type: string
          enum:
            - NEXT
            - PREV
        - name: did
          in: query
          description: >-
            Last or First device id of the previous list operation, **required** if **direction** is specified
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Device'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/fcm/list/{atoken}/{pageSize}':
    get:
      tags:
        - List FCM Devices
      summary: List FCM Devices
      operationId: listFCMDevices
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: pageSize
          in: path
          description: Maximum number of FCM devices to be listed
          required: true
          type: integer
          format: int32
        - name: direction
          in: query
          description: >-
            If direction is specified, **did** is required
          required: false
          type: string
          enum:
            - NEXT
            - PREV
        - name: did
          in: query
          description: >-
            Last or First device id of the previous list operation, **required** if **direction** is specified
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/FCMDevice'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/group/upsert/{atoken}':
    post:
      tags:
        - Create / Update Device Group
      summary: Create / Update Device Group
      operationId: upsertDeviceGroup
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: dto
          in: body
          description: DeviceGroup JSON object
          required: true
          schema:
            $ref: '#/definitions/DeviceGroup'
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/group/get/{atoken}/{did}/{gid}':
    get:
      tags:
        - Retreive Device Group
      summary: Retreive Device Group
      operationId: getDeviceGroup
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: did
          in: path
          description: Device ID
          required: true
          type: string
        - name: gid
          in: path
          description: Group id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/DeviceGroup'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/group/add/{atoken}/{odid}/{gid}':
    post:
      tags:
        - Add Members(s) to Device Group
      summary: Add Members(s) to Device Group
      operationId: addMembersToDeviceGroup
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: odid
          in: path
          description: Owner Device ID
          required: true
          type: string
        - name: gid
          in: path
          description: Group Id
          required: true
          type: integer
          format: int32
        - name: deviceIds
          in: body
          description: Array of device IDs
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/group/remove/{atoken}/{odid}/{gid}':
    post:
      tags:
        - Remove Members(s) from Device Group
      summary: Remove Members(s) from Device Group
      operationId: removeMembersFromDeviceGroup
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: odid
          in: path
          description: Owner Device ID
          required: true
          type: string
        - name: gid
          in: path
          description: Group Id
          required: true
          type: integer
          format: int32
        - name: deviceIds
          in: body
          description: Array of device IDs
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/group/delete/{atoken}/{did}/{gid}':
    delete:
      tags:
        - Delete Device Group
      summary: Delete Device Group
      operationId: deleteDeviceGroup
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: did
          in: path
          description: Device ID
          required: true
          type: string
        - name: gid
          in: path
          description: Group Id
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/group/list/{atoken}/{did}/{pageSize}':
    get:
      tags:
        - List Device Groups
      summary: List Device Groups
      operationId: listDeviceGroups
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: did
          in: path
          description: Device ID
          required: true
          type: string
        - name: pageSize
          in: path
          description: Maximum number of groups to be listed
          required: true
          type: integer
          format: int32
        - name: direction
          in: query
          description: >-
            If direction is specified, **gid** is required
          required: false
          type: string
          enum:
            - NEXT
            - PREV
        - name: gid
          in: query
          description: >-
            Last or First group id of the previous list operation, **required** if **direction** is specified
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/DeviceGroup'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/group/listmembers/{atoken}/{odid}/{gid}/{pageSize}':
    get:
      tags:
        - List Device Group Members
      summary: List Device Group Members
      operationId: listDeviceGroupMembers
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: odid
          in: path
          description: Owner Deive ID
          required: true
          type: string
        - name: gid
          in: path
          description: Group id to list the devices from
          required: true
          type: integer
          format: int32
        - name: pageSize
          in: path
          description: Maximum number of devices to be listed
          required: true
          type: integer
          format: int32
        - name: direction
          in: query
          description: >-
            If direction is specified, **did** is required
          required: false
          type: string
          enum:
            - NEXT
            - PREV
        - name: did
          in: query
          description: >-
            Last or First device id of the previous list operation, **required** if **direction** is specified
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Device'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/property/upsert/{atoken}':
    post:
      tags:
        - Create / Update Device Property
      summary: Create / Update Device Property
      operationId: storeDeviceProperty
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: entity
          in: body
          description: DeviceProperty JSON object
          required: true
          schema:
            $ref: '#/definitions/DeviceProperty'
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/property/get/{atoken}/{did}/{name}':
    get:
      tags:
        - Retreive Device Property
      summary: Retreive Device Property
      operationId: getDeviceProperty
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: did
          in: path
          description: Device ID
          required: true
          type: string
        - name: name
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/DeviceProperty'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/property/delete/{atoken}/{did}/{name}':
    delete:
      tags:
        - Delete Stored Device Property
      summary: Delete Stored Device Property
      operationId: deleteDeviceProperty
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: did
          in: path
          description: Device ID
          required: true
          type: string
        - name: name
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/property/list/{atoken}/{did}/{pageSize}':
    get:
      tags:
        - List Device Properties
      summary: List Device Properties
      operationId: listDeviceProperties
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: did
          in: path
          description: Device ID
          required: true
          type: string
        - name: pageSize
          in: path
          description: Maximum number of properties to be listed
          required: true
          type: integer
          format: int32
        - name: direction
          in: query
          description: >-
            If direction is specified, **name** is required
          required: false
          type: string
          enum:
            - NEXT
            - PREV
        - name: name
          in: query
          description: >-
            Last or First property name of the previous list operation, **required** if **direction** is specified
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/DeviceProperty'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/group/property/upsert/{atoken}':
    post:
      tags:
        - Create / Update Device Group Property
      summary: Create / Update Device Group Property
      operationId: storeDeviceGroupProperty
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: entity
          in: body
          description: DeviceGroupProperty JSON object
          required: true
          schema:
            $ref: '#/definitions/DeviceGroupProperty'
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/group/property/get/{atoken}/{did}/{gid}/{name}':
    get:
      tags:
        - Retreive Device Group Property
      summary: Retreive Device Group Property
      operationId: getDeviceGroupProperty
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: did
          in: path
          description: Device ID
          required: true
          type: string
        - name: gid
          in: path
          description: Device Group ID
          required: true
          type: integer
          format: int32
        - name: name
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/DeviceGroupProperty'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/group/property/delete/{atoken}/{did}/{gid}/{name}':
    delete:
      tags:
        - Delete Stored Device Group Property
      summary: Delete Stored Device Group Property
      operationId: deleteDeviceGroupProperty
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: did
          in: path
          description: Device ID
          required: true
          type: string
        - name: gid
          in: path
          description: Device Group ID
          required: true
          type: integer
          format: int32
        - name: name
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/group/property/list/{atoken}/{did}/{gid}/{pageSize}':
    get:
      tags:
        - List Device Group Properties
      summary: List Device Group Properties
      operationId: listDeviceGroupProperties
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: did
          in: path
          description: Device ID
          required: true
          type: string
        - name: gid
          in: path
          description: Device Group ID
          required: true
          type: integer
          format: int32
        - name: pageSize
          in: path
          description: Maximum number of properties to be listed
          required: true
          type: integer
          format: int32
        - name: direction
          in: query
          description: >-
            If direction is specified, **name** is required
          required: false
          type: string
          enum:
            - NEXT
            - PREV
        - name: name
          in: query
          description: >-
            Last or First property name of the previous list operation, **required** if **direction** is specified
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/DeviceGroupProperty'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/count/{atoken}':
    post:
      tags:
        - Count All Devices
      summary: Count All Devices
      operationId: countAllDevices
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Count"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/device/group/count/{atoken}/{deviceId}':
    post:
      tags:
        - Count All Device Groups
      summary: Count All Device Groups
      operationId: countAllDeviceGroups
      consumes:
        - "application/json"
      produces:
        - application/json
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: deviceId
          in: path
          description: Device ID
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Count"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/dmodel/register/{dkey}/{akey}/{dmdlid}/{ver}':
    get:
      tags:
        - Register New Device Model
      summary: Register New Device Model
      operationId: registerDeviceModel
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: dkey
          in: path
          description: Domain key
          required: true
          type: string
        - name: akey
          in: path
          description: API key
          required: true
          type: string
        - name: dmdlid
          in: path
          description: Device Model ID
          required: true
          type: string
        - name: ver
          in: path
          description: Device Model Version
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/dmodel/upsert/{atoken}':
    post:
      tags:
        - Create / Update Device Model
      summary: Create / Update Device Model
      operationId: upsertDeviceModel
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: entity
          in: body
          description: DeviceModel JSON object
          required: true
          schema:
            $ref: '#/definitions/DeviceModel'
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/dmodel/get/{atoken}/{dmid}':
    get:
      tags:
        - Retreive Device Model
      summary: Retreive Device
      operationId: getDeviceModel
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: dmid
          in: path
          description: Device model id
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/DeviceModel'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/dmodel/get/ver/{atoken}/{dmid}/{ver}':
    get:
      tags:
        - Retreive Device Model By Version
      summary: Retreive Device By Version
      operationId: getDeviceModelByVersion
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: dmid
          in: path
          description: Device model id
          required: true
          type: string
        - name: ver
          in: path
          description: Device model version
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/DeviceModel'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/dmodel/delete/{atoken}/{dmid}':
    delete:
      tags:
        - Delete Device Model
      summary: Delete Device Model
      operationId: deleteDeviceModel
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: dmid
          in: path
          description: Device Model Id
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/dmodel/delete/version/{atoken}/{dmid}/{ver}':
    delete:
      tags:
        - Delete Device Model Version
      summary: Delete Device Model Version
      operationId: deleteDeviceModelVersion
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: dmid
          in: path
          description: Device Model Id
          required: true
          type: string
        - name: ver
          in: path
          description: Device Model Version
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/dmodel/list/{atoken}/{pageSize}':
    get:
      tags:
        - List Device Models
      summary: List Device Models
      operationId: listDeviceModels
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: pageSize
          in: path
          description: Maximum number of device models to be listed
          required: true
          type: integer
          format: int32
        - name: direction
          in: query
          description: >-
            If direction is specified, **mdlid** is required
          required: false
          type: string
          enum:
            - NEXT
            - PREV
        - name: mdlid
          in: query
          description: >-
            Last or First model id of the previous list operation, **required** if **direction** is specified
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/DeviceModel'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/dmodel/list/model/{atoken}/{pageSize}/{mdlid}':
    get:
      tags:
        - List By Device Model
      summary: List By Device Model
      operationId: listByDeviceModel
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: mdlid
          in: path
          description: Device Model ID
          required: true
          type: string
        - name: pageSize
          in: path
          description: Maximum number of device models to be listed
          required: true
          type: integer
          format: int32
        - name: direction
          in: query
          description: >-
            If direction is specified, **ver** is required
          required: false
          type: string
          enum:
            - NEXT
            - PREV
        - name: ver
          in: query
          description: >-
            Last or First version of the previous list operation, **required** if **direction** is specified
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/DeviceModel'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/dmodel/property/upsert/{atoken}':
    post:
      tags:
        - Create / Update Device Model Property
      summary: Create / Update Device Model Property
      operationId: storeDeviceModelProperty
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: entity
          in: body
          description: DeviceModelProperty JSON object
          required: true
          schema:
            $ref: '#/definitions/DeviceModelProperty'
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/dmodel/property/get/{atoken}/{id}/{name}':
    get:
      tags:
        - Retreive Device Model Property
      summary: Retreive Device Property
      operationId: getDeviceModelProperty
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: id
          in: path
          description: Device Model ID
          required: true
          type: string
        - name: name
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/DeviceModelProperty'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/dmodel/property/list/{atoken}/{id}/{pageSize}':
    get:
      tags:
        - List Device Model Properties
      summary: List Device Model Properties
      operationId: listDeviceModelProperties
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: id
          in: path
          description: Device Model ID
          required: true
          type: string
        - name: pageSize
          in: path
          description: Maximum number of properties to be listed
          required: true
          type: integer
          format: int32
        - name: direction
          in: query
          description: >-
            If direction is specified, **name** is required
          required: false
          type: string
          enum:
            - NEXT
            - PREV
        - name: name
          in: query
          description: >-
            Last or First property name of the previous list operation, **required** if **direction** is specified
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/DeviceModelProperty'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/dmodel/property/delete/{atoken}/{id}/{name}':
    delete:
      tags:
        - Delete Stored Device Model Property
      summary: Delete Stored Device Model Property
      operationId: deleteDeviceModelProperty
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: id
          in: path
          description: Device Model ID
          required: true
          type: string
        - name: name
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/dmodel/count/{atoken}':
    post:
      tags:
        - Count All Device Models
      summary: Count All Device Models
      operationId: countAllDeviceModels
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Count"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/dmodel/count/mode/{atoken}/{mdlid}':
    post:
      tags:
        - Count By Device Model
      summary: Count By Device Model
      operationId: countByDeviceModel
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: mdlid
          in: path
          description: Device Model ID
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Count"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/domain/register': 
    post: 
      description: "Returns all domains from the system that the user has access to"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      tags:
        - Register New Domain
      summary: Register New Domain
      operationId: "register"
      parameters:
        - name: user
          in: body
          description: User object
          required: true
          schema:
            $ref: "#/definitions/User"
      responses: 
        "200":
          description: "Newly created user and domain"
          schema: 
            $ref: "#/definitions/UserDomain"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/domain/password/reset/{email}': 
    get: 
      description: "Reset a user's password, platform will send an email with temporary password"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      tags:
        - Reset User Password
      summary: Register User Password
      operationId: "resetUserPassword"
      parameters:
        - name: email
          in: path
          description: Email ID
          required: true
          type: string
      responses: 
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/domain/list/{atoken}/{pageSize}': 
    get: 
      description: "Returns all domain keys from the system that the user has access to"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      tags:
        - List Domains
      summary: List Domains
      operationId: "list"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in user
          required: true
          type: string
        - name: pageSize
          in: path
          description: Maximum number of domains to be listed
          required: true
          type: integer
          format: int32
        - name: direction
          in: query
          description: >-
            If direction is specified, **dkey** is required
          required: false
          type: string
          enum:
            - NEXT
            - PREV
        - name: dkey
          in: query
          description: >-
            Last or First domain key of the previous list operation, **required** if **direction** is specified
          required: false
          type: string
      responses: 
        "200":
          description: "List of domains keys"
          schema:
            type: array
            items:
              type: string
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/domain/login/{email}/{passwd}': 
    get: 
      consumes:
        - "application/json"
      produces:
        - "application/json"
      tags:
        - Login
      summary: Login
      operationId: "login"
      parameters:
        - name: email
          in: path
          required: true
          type: string
        - name: passwd
          in: path
          required: true
          type: string
      responses: 
        "200":
          description: "UserDomain Object"
          schema: 
            $ref: "#/definitions/UserDomain"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/domain/logout/{atoken}': 
    get: 
      consumes:
        - "application/json"
      produces:
        - "application/json"
      tags:
        - Logout
      summary: Logout
      operationId: "logout"
      parameters:
        - name: atoken
          in: path
          required: true
          type: string
      responses: 
        "200":
          description: "Logged out successfully"
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/domain/link/{atoken}': 
    get: 
      consumes:
        - "application/json"
      produces:
        - "application/json"
      tags:
        - Link Another Domain
      summary: Link Another Domain
      operationId: "linkDomain"
      parameters:
        - name: atoken
          in: path
          required: true
          type: string
        - name: domainKey
          description: Domain key
          in: query
          required: true
          type: string
        - name: apiKey
          description: Domain API key
          in: query
          required: true
          type: string
        - name: label
          description: Menu Label
          in: query
          required: true
          type: string
      responses: 
        "200":
          description: "Linked successfully"
          schema: 
            $ref: "#/definitions/LinkedDomain"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/domain/unlink/{atoken}': 
    get: 
      consumes:
        - "application/json"
      produces:
        - "application/json"
      tags:
        - Unlink a Domain
      summary: Unlink a Domain
      operationId: "unlinkDomain"
      parameters:
        - name: atoken
          in: path
          required: true
          type: string
        - name: domainKey
          description: Domain key
          in: query
          required: true
          type: string
      responses: 
        "200":
          description: "Unlinked successfully"
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/domain/loginas/{email}/{passwd}/{dkey}': 
    get: 
      consumes:
        - "application/json"
      produces:
        - "application/json"
      tags:
        - Login as another domain admin
      summary: Login as another domain admin
      operationId: "loginAs"
      parameters:
        - name: email
          description: System admin user name/email
          in: path
          required: true
          type: string
        - name: passwd
          in: path
          required: true
          type: string
        - name: dkey
          description: Domain key
          in: path
          required: true
          type: string
      responses: 
        "200":
          description: "UserDomain Object"
          schema: 
            $ref: "#/definitions/UserDomain"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/domain/property/upsert/{atoken}':
    post:
      tags:
        - Create / Update Domain Property
      summary: Create / Update Domain Property
      operationId: storeDomainProperty
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in domain
          required: true
          type: string
        - name: entity
          in: body
          description: DomainProperty JSON object
          required: true
          schema:
            $ref: '#/definitions/DomainProperty'
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/domain/property/get/{atoken}/{name}':
    get:
      tags:
        - Retreive Domain Property
      summary: Retreive Domain Property
      operationId: getDomainProperty
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in domain
          required: true
          type: string
        - name: name
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/DomainProperty'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/domain/property/delete/{atoken}/{name}':
    delete:
      tags:
        - Delete Stored Domain Property
      summary: Delete Stored Domain Property
      operationId: deleteDomainProperty
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in domain
          required: true
          type: string
        - name: name
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/domain/property/deleteall/{atoken}':
    delete:
      tags:
        - Delete All Stored Domain Properties
      summary: Delete All Stored Domain Properties
      operationId: deleteAllDomainProperties
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in domain
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/domain/property/list/{atoken}/{pageSize}':
    get:
      tags:
        - List Domain Properties
      summary: List Domain Properties
      operationId: listDomainProperties
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in domain
          required: true
          type: string
        - name: pageSize
          in: path
          description: Maximum number of properties to be listed
          required: true
          type: integer
          format: int32
        - name: direction
          in: query
          description: >-
            If direction is specified, **name** is required
          required: false
          type: string
          enum:
            - NEXT
            - PREV
        - name: name
          in: query
          description: >-
            Last or First property name of the previous list operation, **required** if **direction** is specified
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/DomainProperty'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/domain/asset/group/property/upsert/{atoken}':
    post:
      tags:
        - Create / Update Domain Asset Group Property
      summary: Create / Update Domain Asset Group Property
      operationId: storeDomainAssetGroupProperty
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in domain
          required: true
          type: string
        - name: entity
          in: body
          description: DomainAssetGroupProperty JSON object
          required: true
          schema:
            $ref: '#/definitions/DomainAssetGroupProperty'
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/domain/asset/group/property/get/{atoken}/{gid}/{name}':
    get:
      tags:
        - Retreive Domain Asset Group Property
      summary: Retreive Domain Asset Group Property
      operationId: getDomainAssetGroupProperty
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in domain
          required: true
          type: string
        - name: gid
          description: Group ID
          in: path
          required: true
          type: integer
          format: int32
        - name: name
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/DomainAssetGroupProperty'
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/domain/asset/group/property/delete/{atoken}/{gid}/{name}':
    delete:
      tags:
        - Delete Stored Domain Asset Group Property
      summary: Delete Stored Domain Asset Group Property
      operationId: deleteDomainAssetGroupProperty
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in domain
          required: true
          type: string
        - name: gid
          in: path
          required: true
          type: integer
          format: int32
        - name: name
          in: path
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema: 
            $ref: "#/definitions/Success"
        "417":
          description: "API Error"
          schema: 
            $ref: "#/definitions/ApiError"
  '/domain/asset/group/property/deleteall/{atoken}/{gid}':
    delete:
      tags:
        - Delete All Stored Domain Asset Group Properties
      summary: Delete All Stored Domain Asset Group Properties
      operationId: deleteAllDomainAssetGroupProperties
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: atoken
          in: path
          description: Auth token of the logged in domain
          required: true
          type: string
        - name: gid
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          schema: 
[...]
